<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mndev.diplomski">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AudioMasterActivity"
            android:label="@string/title_activity_audio_master"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".AudioSlaveActivity"
            android:label="@string/title_activity_audio_slave"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".BluetoothMasterActivity"
            android:label="@string/title_activity_bluetooth_master"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".BluetoothSlaveActivity"
            android:label="@string/title_activity_bluetooth_slave"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AudioSharedActivity"
            android:label="@string/title_activity_audo_shared"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>